*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html,body{
height: 100%;
width: 100%;
}

#main{
    width: 100%;
    height: 100%;
    background-color: rgb(133, 217, 147);
    display: flex;
    justify-content: center;
    align-items: center;
}
#panel{
    width: 80%;
    height: 80%;
    background-color: #d5cfcf;
    border-radius: 10px;
    overflow: hidden;
}
#paneltop{
    width: 100%;
    height: 100px;
    padding: 0px 40%;
    background-color: rgb(35, 68, 35);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.elem{
    display: flex;
    gap: 10px;
    font-size: 20px;
    font-weight: 500;
    color:#fff;
    justify-content: center;
    align-items: center;
}
.box{
    padding: 10px;
    background-color: rgb(184, 239, 239);
    border-radius: 5px;
    color: black;
    font-size:30px;
    font-weight: 600;
}

#panelbottom{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    height: calc(100% - 100px);
    background-color: rgb(222, 213, 202);
    padding: 20px 20px;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}
#bubble{
    height: 80px;
    width: 80px;
    background-color: rgb(10, 106, 10);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 800;
}
#bubble:hover{
    cursor: pointer;
    background-color: rgb(6, 51, 38);
}
